                    /*Global*/
body {
    padding: 0px;
    box-sizing: border-box;
    margin: 0px; 
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: azure;
}
.inner_cont{
    box-shadow: 0px 0px 19px 0px black;
    width: 300px;
    height: 50px;
    padding: 6px;
    display: flex;
    align-items: center;
    background-color: black;
    border-radius: 50px;
}

.circle1{
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: crimson;    
    animation-name: move1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.circle2{
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: crimson;    
    animation-name: move2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes move1{
    0% { 
      transform: translatex(0px);
    }
    50% {
      transform: translatex(250px);
    }
    100% {
      transform: translatex(0px);
    }
}


@keyframes move2{
    0% { 
      transform: translatex(200px);
    }
    50% {
      transform: translatex(-50px);
    }
    100% {
      transform: translatex(200px);
    }
}