*{
    box-sizing: border-box;
}

body,p{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

body{
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

#modal{
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.1);
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    z-index: 999;
    
}

#panel{
    display: flex;
    position: relative;
    
    background-color: black;
    
    width: 280px;
    flex-direction: column;
    
    border-radius: 10px;
    box-shadow: 0px 0px 50px 0px rgba(127,255,0,0.5);
}

#header{
    width: 100%;
    background-color: chartreuse;
    padding:30px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
    border-radius: 10px 10px 0px 0px;
    letter-spacing: 6px;
    text-transform: uppercase
}
#form{
    display: flex;
    padding:30px 20px;
    flex-direction: column;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
.row{
    width: 100%;
/*    background-color: red;*/
    height: 33.33%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.row p{
    color: #fff;
}
input{
    width: 90px;
    height: 2em;
    padding:  0em 0.5em;
    border: 0px;
    margin: 10px 0px;
    border-radius: 4px;
    
}
input:focus{
    outline: 0px;
}
button{
    width: 100px;
    height: 2em;
    margin: 30px 0px 0px;
    align-self: center;
    border: 0px;
    border-radius: 4px;
    background-color: chartreuse
}


#error{
    display: flex;
    position: absolute;
    top: 40px;
    background-color: crimson;
    width: 280px;
    margin: 20px 0px; 
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    animation: vibrate 300ms ease-in forwards;
    
}
@keyframes vibrate{
    0%{
        transform: translatex(0px);
    }
    20%{
        transform: translatex(30px);
    }
    40%{
        transform: translatex(-30px);
    }
    60%{
        transform: translatex(15px);
    }
    80%{
        transform: translatex(-15px);
    }
    100%{
        transform: translatex(0px);
    }
}


.block{
    background: linear-gradient(45deg,#7FFF00,#70DE02);
    font-size: 1em;
    color: #ffffff;
    display: flex; 
    justify-content: center;
    align-items: center;
}





