*{
box-sizing: border-box;
}
 
/*Global*/

body{
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vh;
    justify-content: space-between;
    font-family: "Lato", sans-serif;
    display: flex;
    flex-direction: column;
}

body,p,h1,h2,h3,h4,h5,h6{
    padding: 0px;
    margin: 0px;
/*    color: #fff;*/
}

#navbar{
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    height: 70px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 9;
    box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.2);
    background-color: #CC1F72;
    
}
#logo{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 0px 15px;
    font-size: 2em;
    color: #fff;
}
#menuButton{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 70px;
    background-color: #CC1F72;
    transition: all 200ms;

}
#menuButton:hover{
    background-color: #9b1455;
}

#currPanel{
    position: relative;
/*    background-color: red;*/
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    padding-top: 70px;
}

#currPanel p{
    font-size: 1em;
    padding:0px 20px;
}
#currtextbox{
    height: 40px;
    width: 100%;
    flex: 1;
    font-size: 1em;
    padding: 0px 10px;
    border:1px solid #CC1F72;
    border-radius: 5px;
    display: flex;
    align-items: center;
/*    transition: all 200ms;*/
}
#currtextbox:focus{
    outline: 0px;
    box-shadow: 0px 0px 5px 0px #CC1F72;
}

#okButton{
    height: 40px;
    width: 70px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CC1F72;
    color: #fff;
    border: 0px;
    margin: 0px 10px;
    border-radius: 5px;
    transition: all 200ms;
}
#okButton:hover{
    background-color: #9b1455;
}
#okButton:focus{
    outline: 0px;
}



#dashboard{
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
}
#screen{
    height: 200px;
    width: 200px;
    background: #FFFFFF;
box-shadow: 0px 0px 55px rgba(204, 31, 114, 0.25);
border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#screen #reading{
    font-size: 3em;
}
#counterButtons{
    display: flex;
    position: absolute;
    margin-top: 160px;
    justify-content: space-between;
    width: 280px;
}
#counterButtons .reset{
    display: flex;
    width: 60px;
    height: 60px;
    font-size: 0.8em;
    margin-top: 40px;
    border-radius: 40px;
}

#counterButtons button{
    padding: 0px;
    width: 80px;
    height: 80px;
    color: #fff;
    font-size: 1.5em;
    background: #CC1F72;
    border: 0px solid #CC1F72;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}
#counterButtons button:focus{
    outline: 0px; 
}
#counterButtons button:active{
    background-color: #9b1455;
}



#minusone{}
#plusone{}




















@media all and (min-width: 600px){

}

/*Desktop*/
@media all and (min-width: 900px) {
    body {
    }
}



