                    /*Resetting*/

*::after,
*::before{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

*{
/*   box-shadow: 0px 0px 0px 1px #999999;*/
/*   border-radius: 3px;*/
}

                      /*Global*/
body {
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: default;
    font-family: sans-serif;
}

body p{
    margin: 0px;
    padding: 0px;
}

/*custom*/

.body_section{
    width: 100%;
/*    height: 100vh;*/
/*    background-color: rgb(255, 199, 199,1);*/
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}


.header{
    width: 100%;
/*    padding-left: 30px;*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
/*    justify-content: center;*/
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 70px;
    background-color: #83204a;
}
.heading{
    width: 200px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.header a{
    text-decoration: none;
}
.header a:hover{
    text-decoration: none;
}

.heading p{
    font-family: 'Staatliches', sans-serif;
    margin: 0px;
    padding: 0px;
    letter-spacing: 1px;
    color: white;
    font-size: 1.7em;
}

.main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    background-color: #f5f5f5;
}

.projects_cont{
    width: 100%;
    margin-top: 30px;
}
.projects_cont ol{
    margin: 0px;
    padding: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 20px;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.projects_cont li{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.projects_cont li a{
    font-family: 'Poppins', sans-serif;
    font-size: 1.3em;
    color: #000;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

.projects_cont li a:hover{
    color:crimson;
}




















@media all and (min-width: 600px){

}

/*Desktop*/
@media all and (min-width: 900px) {
    body {
    }
}



  
