*{
    box-sizing: border-box;
}
body,p,h2,ul,li{
    margin: 0px;
    padding: 0px;
}
body{
    position: relative;
    font-family: 'Poppins',sans-serif; 
}
 
#navbar{
    display: flex;
    width: 100%;
    flex-direction: column;
    position:absolute;
    top: 00px;
    right: 20px;
    z-index: 1;
    align-items: flex-end;
}
#navbar #header{
/*    height: 60px;*/
/*    background-color: #0aa759;*/
/*    background-color: #2E2D2D;*/
    display: flex;
    
    align-items: center;
    color: #fff;
    font-family: 'Staatliches',sans-serif;
    font-size: 1.5em;
    letter-spacing: 0.10em;
    margin-top: 20px;
}
#navbar #subheader{
    font-size: 1em;
    font-family: 'Poppins',sans-serif;
    color:#949494;
}
  

main{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color:#2E2E2E;
}


.cover::before{
    content: "";
    height: 120%;
    width: 120%;
    top:-10%;
    left:-10%;
background:url("Resources/Background.jpg");
    position: absolute;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    transform: rotate(-9.4deg);
}
.cover{
    display: flex;
    position: relative;
    width: 250px;
    height: 250px;
    
    border-radius: 35px;
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.5);
    overflow: hidden;
    transform: rotate(45deg);
    transition:all 100ms;
    justify-content: center;
    align-items: center;
}
.expandCover{
    animation: expandCover 300ms linear forwards;
}
@keyframes expandCover{
    100%{
        transform: rotate(0deg);
        border-radius: 0px;
        width:100%;
        height:100%;    
    }
}


#buttons{
    width: 100%;
    height: 45px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    z-index: 1;
    background-color: transparent;
    
}
.button{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height:45px;
    padding: 0px 20px;
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 1px;
    color:#fff;
    font-family: 'Poppins',sans-serif;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    margin: 0px 35px;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.25);
}


#projectButton{
    margin-top: -190px;
    background: #fff;
    color:#3F85B4 ;
    transition: all 600ms;
}
.moveProjectButton{
    margin-bottom: 190px;
    background: #fff;
    color:#3F85B4;
    transition: all 400ms;
    transform:translatey(-0px);
}
#practiceButton{
    margin-top: 190px;
    background: #fff;
    color:#B49549 ; 
    transition: all 600ms;
}
.movePracticeButton{
    margin-top: 190px;
    background: #fff;
    color:#B49549 ;
    transition: all 600ms;
    transform:translatey(-285px); 
}



.tab{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: all 300ms;
}

/*Practice Tab*/

.practiceTab{
    
    display: flex;
    opacity: 0;
    background-color: #B49549;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}



.practiceTab #wave{
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50%;
    background-color: #fff;
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 0px 0px 50px 50px;
/*    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*/
}
.practiceTab .image{
    width: 50%;
/*    border-radius: 76px;*/
    z-index: 1;
}
#tabHalf{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
    padding: 50px;
}


#tabHalf .subButton{
    position: relative;
    width: 100%;
    height: 40px;
    background-color: #fff;
    border-radius: 5px;
    padding: 0px;
    border: 0px;
    margin: 8px 0px;
    z-index: 9999999;
}

.darkshade{
    position: absolute;
    height: 100%;
    background-color: #D9BC6F;
    width: 50px;
    right: 0px;
    border-radius: 0px 5px 5px 0px;
    background-image: url(Resources/next.svg);
    background-position: 50% 50%;
    background-size: 40%;
    background-repeat: no-repeat;
}

.subButton:focus{
    outline: 0px;
}
.subButton a{
    width: 100%;
    height: 100%;
    color: #B49549;
    font-size: 1em;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#css{
    opacity: 1;
 }
#javascript{
    opacity: 1;
 }



/*Project Tab*/

.projectTab{
    
    display: flex;
    opacity: 0;
    background-color: #57AEE8;
    padding: 40px ;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
}






.projectTab .subButton{
    position: relative;
    width: 100%;
    height: 40px;
    background-color: #3F85B4;
    border-radius: 5px;
    padding: 0px;
    
    border: 0px;
    margin: 8px 0px;
    z-index: 9999999;
}

.projectTab .subButton a{
    color: #fff;
}

.show{
    opacity: 1;
}
.hide{
    opacity: 0;
}





@media all and (min-width: 600px){
}

/*Desktop*/
@media all and (min-width: 900px) {
    
}



  
