*{
    box-sizing: border-box;
}

body,p,h2,ul,li{
    margin: 0px;
    padding: 0px;
}

body{
    position: relative;
    font-family: 'Poppins',sans-serif;
    background: #fff;
}

nav{
    display: flex;
    width: 100%;
    flex-direction: column;
    position:absolute;
    top: 20px;
    right: 20px;
    z-index: 999;
    align-items: flex-end;
}

nav #header{
/*    height: 60px;*/
/*    background-color: #0aa759;*/
/*    background-color: #2E2D2D;*/
    display: flex;
    
    align-items: center;
    color: #404040;
    font-family: 'Staatliches',sans-serif;
    font-size: 1.5em;
    letter-spacing: 0.06em;
}
nav #subheader{
    font-size: 1em;
    font-family: 'Poppins',sans-serif;
    color:#949494;
}

#upper{
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

#upper .panel{
    width: 260px;
    height: 260px;
    position: relative;
    border-radius: 35px;
    transform: rotate(45deg);
    
    box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.07);
/*    background-color: red;*/
    overflow: hidden;
    transition:all 100ms;
    
}
.enlargeProjects{
    animation: enlargeProjects 500ms linear forwards;
}
@keyframes enlargeProjects{
    100%{
        transform: rotate(0deg);
        height: 346px;
        width: 360px;
        border-radius: 35px 0px 35px 35px;
        
    }
}

.enlargePractices{
    animation: enlargePractices 500ms linear forwards;
}
@keyframes enlargePractices{
    100%{
        transform: rotate(0deg);
        height: 346px;
        width: 360px;
        border-radius: 0px 35px 35px 35px;
        
    }
}

.panel::before{
    content: "";
    height: 120%;
    width: 120%;
    top:-10%;
    left:-10%;
background:url("Resources/Background.jpg");
    position: absolute;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    transform: rotate(-9.4deg);
}

#tabsBar{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    background-color: transparent;
    margin: auto;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 45px;
    font-size: 1em;
    color:#fff;
    font-family: 'Poppins',sans-serif;
    text-transform: uppercase;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
    z-index: 9;
    margin: 0px 50px;
/*    transform: rotate(-35.6deg);*/
    
}

#practicesButton{
    margin-bottom: 150px;
    background-color: #2D8AC8;
    transition: all 400ms;
}
#projectsButton{
    margin-top: 150px;
    background-color: #A98F4C;
    transition: all 800ms;
    
}

.tab{
    width: 100%;
    height: 100%;
    flex-direction: column;
    transition: all 300ms;
}

.practiceTab{
    display: flex;
    opacity: 0;
    background-color: #2D8AC8;
}
.projectTab{
    display: flex;
    opacity: 0;
    background-color: #A98F4C;
}

.active{
    opacity: 1;
}

.moveProject{

    transform: translatey(-270px);
    border-radius: 8px 8px 0px 0px;
}
.movePractice{
    transform: translatey(-120px);
    border-radius: 8px 8px 0px 0px;
}








/*
.item{
    box-sizing: border-box;
    display: flex;
    padding: 0px 30px;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    color: #000;
}

.active,.item:hover{
    
    background-color: rgba(0,0,0,0.1);
}


.cont a{
    text-decoration: none;
}
.item p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.3em;
    color: #000;
    margin: 0px;
    padding: 0px;
}
.item:hover p{
    color:crimson;
}

*/


/*Accordion*/

/*
.panel{
    width: 100%;
    overflow: hidden;
    max-height: 0px;
    background-color: red;
    transition: 700ms;
}


.child_item{
    box-sizing: border-box;
    display: flex;
    padding: 0px 50px;
    width: 100%;
    height: 40px;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.1);
    align-items: center;
}

.child_item p{
    color:#000;
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
}

.child_item:hover p{
    color: crimson;
}

*/



@media all and (min-width: 600px){
}

/*Desktop*/
@media all and (min-width: 900px) {
    body {
    }
}



  
