*{
    box-sizing: border-box;
}

body,p,h2,ul,li{
    margin: 0px;
    padding: 0px;
}

body{
    position: relative;
    font-family: 'Poppins',sans-serif;
    
    
}
 
nav{
    display: flex;
    width: 100%;
    flex-direction: column;
    position:absolute;
    top: 00px;
    right: 20px;
    z-index: 999;
    align-items: flex-end;
}

nav #header{
/*    height: 60px;*/
/*    background-color: #0aa759;*/
/*    background-color: #2E2D2D;*/
    display: flex;
    
    align-items: center;
    color: #fff;
    font-family: 'Staatliches',sans-serif;
    font-size: 1.5em;
    letter-spacing: 0.10em;
    margin-top: 20px;
}
nav #subheader{
    font-size: 1em;
    font-family: 'Poppins',sans-serif;
    color:#949494;
}
 
main{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color:#141414;
/*    padding-top: 50px;*/
}
.panel::before{
    content: "";
    height: 120%;
    width: 120%;
    top:-10%;
    left:-10%;
background:url("Resources/Background.jpg");
    position: absolute;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    transform: rotate(-9.4deg);
}
.panel{
    width: 250px;
    height: 250px;
    position: relative;
    border-radius: 35px;
    transform: rotate(45deg);
    
    box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.7);
/*    background-color: red;*/
    overflow: hidden;
    transition:all 100ms;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.expandPanel{
    animation: expandPanel 300ms linear forwards;
}

@keyframes expandPanel{
    100%{
        transform: rotate(0deg);
        width:380px;
        height: 380px;    
    }
}

#buttons{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    background-color: transparent;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    height:50px;
    padding: 0px 20px;
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 1px;
    color:#fff;
    font-family: 'Poppins',sans-serif;
    text-transform: uppercase;
    border-radius: 25px;
    text-decoration: none;
    cursor: pointer;
    margin: 0px 35px;
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.8);
}

#projectButton{
    margin-bottom: 190px;
    background:linear-gradient(
        #4EACE7,#3F85B4) ;
    color:#fff ;
    transition: all 400ms;
}
#practiceButton{
    margin-top: 190px;
    background:linear-gradient(
        #D9BC6F,#B49549) ;
    color:#fff ;
    transition: all 600ms;
    
}

.movePracticeButton{
   transform:rotate(0deg) translatey(-285px); 
}
.moveProjectButton{
    transform: translatey(-90px);
}

.tab{
    position: absolute;
     width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 300ms;
}



.nextButton{
    width: 140px;
    height: 40px;
    background-color: #2E2E2E;
    border-radius: 8px;
    padding: 0px;
    border: 0px;
    margin: 5px 0px 0px;
    z-index: 99;
}

.nextButton:focus{
    outline: 0px;
}

.nextButton a{
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 1em;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#css{
    
}

#javascript{
}

#wave{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
/*    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*/
}

#practiceCover{
    position: absolute;
    top: 10px;
    left: 10px;
    height: 57%;
    width: 57;
    border-radius: 76px;
    z-index: 1;
}



.practiceTab{
    display: flex;
    opacity: 0;
    background-color: #D9BC6F;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
/*    flex-direction: column;*/
    padding: 35px;
}
.projectTab{
    display: flex;
    opacity: 0;
    
    
    background-color: #57AEE8;
}



.active{
    opacity: 1;
   
}
.deactive{
    opacity: 0;
    transform: scale(0.3);
}

/*
.item{
    box-sizing: border-box;
    display: flex;
    padding: 0px 30px;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    color: #000;
}

.active,.item:hover{
    
    background-color: rgba(0,0,0,0.1);
}


.cont a{
    text-decoration: none;
}
.item p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.3em;
    color: #000;
    margin: 0px;
    padding: 0px;
}
.item:hover p{
    color:crimson;
}

*/


/*Accordion*/

/*
.panel{
    width: 100%;
    overflow: hidden;
    max-height: 0px;
    background-color: red;
    transition: 700ms;
}


.child_item{
    box-sizing: border-box;
    display: flex;
    padding: 0px 50px;
    width: 100%;
    height: 40px;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.1);
    align-items: center;
}

.child_item p{
    color:#000;
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
}

.child_item:hover p{
    color: crimson;
}

*/



@media all and (min-width: 600px){
}

/*Desktop*/
@media all and (min-width: 900px) {
    body {
    }
}



  
