body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.nav_bar{
    display: flex;
    height: 70px;
    width: 100%;
    align-items: center;
    background-color: #83204a;
    padding-left: 30px;
    box-sizing: border-box;
}
.heading{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.heading h2{
    font-family: 'Staatliches', sans-serif;
    margin: 0px;
    padding: 0px;
    letter-spacing: 1px;
    color: white;
}


main{
    width: 100%;
}
.cont{
    width: 100%;
}

.item{
    box-sizing: border-box;
    display: flex;
    padding: 0px 30px;
    width: 100%;
    height: 60px;
    background:linear-gradient(#fff,98%, rgba(0,0,0,0.2)); 
    justify-content: space-between;
    align-items: center;
}

.cont a{
    text-decoration: none;
}
.item p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.3em;
    color: #000;
    margin: 0px;
    padding: 0px;
}
.item:hover p{
    color:crimson;
}

.more{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1rem;
    height: 1rem;
/*    background-color: red;*/
    transition: 300ms;
}



.more img{
    width: 100%;
    height: 100%;
}

/*Accordion*/

#css_accord{
    width: 100%;
    overflow: hidden;
    height: 0px;
/*    background-color: red;*/
    transition: 700ms;
}

#javascript_accord{
    width: 100%;
    overflow: hidden;
    height: 0px;
/*    background-color: red;*/
    transition: 700ms;
}


.child_item{
    box-sizing: border-box;
    display: flex;
    padding: 0px 50px;
    width: 100%;
    height: 40px;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.1);
    align-items: center;
}

.child_item p{
    color:#000;
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
}

.child_item:hover p{
    color: crimson;
}




@media all and (min-width: 600px){
}

/*Desktop*/
@media all and (min-width: 900px) {
    body {
    }
}



  
