body,p,h2{
    margin:0px;
    padding:0px;
    font-family: 'Muli', sans-serif;
}
 
*{
    box-sizing: border-box;
}
 
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position:fixed;
    height:70px;
    width:100%;
    padding: 10px;
    background-color: transparent;
    top:0px;
    z-index: 999;
    
}

#navInner{
    display: flex;
    border-radius: 5px;
    align-items: center;
    background-color:white;
    box-shadow:0px 0px 13px 0px rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    justify-content: space-between;
    overflow: hidden;
}

#logo{
    position: relative;
    display: flex;
    width: 130px;
    height: 100%;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    color: #F15454;
    font-size: 1.4em;
    font-family: 'Pacifico', cursive;
    letter-spacing: 4px;
}

#menu{
    display: flex;
    padding: 1em;
    width: 60px;
    height: 100%;
    justify-content: space-between;
    flex-direction: column;
}

.bar{
    width: 100%;
    background-color: #F15454;
    height: 3px;
}

#cover{
    position: relative;
    display: flex;
    
    width:100%;
/*    height:587px;*/
    height:700px;
    
    background: url("images/cover.jpg");
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    
    justify-content: flex-start;
    flex-direction: column;
    
}


#caption{
    
    width: 8em;
    
    margin-left: 30px;
    margin-top: 170px;
    
    font-style: normal;
    font-weight: normal;
    font-family: 'Allan', cursive;
    line-height: 100%;
    font-size: 1.4em;
letter-spacing: 0.05em;
/*    letter-spacing: 0.05em;*/
    color: #323232;
    
/*    border:1px solid green;*/
}

#heading {
    
/*    border:1px solid green;*/
    
    margin-left: 30px;
    margin-top: 15px;

    font-family: 'Bebas Neue', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 4.8em;
    line-height: 100%;
    letter-spacing: 0.03em;

/*    letter-spacing: 0.05em;*/
    color: #F15454;
}



#tri{
    position: absolute;
    background: linear-gradient(to bottom right,transparent 50%,#323232 50%);
    height: 300px;
    width: 100%;
    bottom:0px;
/*    opacity: 0.5;*/
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 30px;
}

#extra{
    position: relative;
    display: flex;
    height:250px;
    width: 100%;
    background-color: #323232;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 50px;
    justify-content: space-between;
    align-items: flex-end;
}


#proPic{
    width:100px;
    height:100px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
}




#shortInfo {
    flex-direction: column;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    height: 4em;
}

#shortInfo p{
    color:#fff;
    font-style: normal;
font-weight: normal;
font-size: 1.4em;
    font-family: 'Allan', cursive;
    letter-spacing: 0.05em;
}


#name{
    color:#F15454; 
}


#work{
    width: 150px;
    height: 40px;
    background-color: transparent;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 40px;
}

#work p{
    color:#fff;
    font-size: 1.4em;
    font-family: 'Allan', cursive;
    letter-spacing: 0.05em;
}

#arrow{
    position: absolute;
    right: 10px;
    width: 20px;
    height: 100%;
/*    border: 1px solid green;*/
}

#arrow img{
    width: 100%;
    height: 100%;
}


#about{
    height: 550px;
    width: 100%;
    background-color: aqua;
}

#header{
    height: 150px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

#about .content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #fff;
    width: 100%;
    height: 400px;
}

#container{
    position: relative;
    width: 350px;
    height: 330px;
/*    background-color: chartreuse;*/
    overflow: hidden;
}
.poly{
    width: 225px;
    height: 280px;
    position: absolute;
    overflow: hidden; 
}

.clipperLeft{
    left: 0px;
    top: 0px;
    clip-path:polygon(0% 0%,100% 0,60% 100%,0% 100%);
}
.clipperRight{
    right: 0px;
    bottom: 0px; 
    clip-path:polygon(40% 0%,100% 0,100% 100%,0% 100%);
}

.flip{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgRight{
    background-image: linear-gradient(rgba(0,0,0,0.1) ,rgba(0,0,0,0.8)),url("images/right.jpg");
    background-position:25% 100%;
}
.imgLeft{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0)),url("images/left.jpg");
    background-position:60% 100%;
}

.imgRight p{
/*    bottom: 90px;*/
    left: 100px;
    position: absolute;
    color: #fff;
    font-size: 1.4em;
    font-family: 'Allan',cursive;
}
.imgLeft p{
/*    top: 90px;*/
    right: 85px;
    position: absolute;
    color: #fff;
    font-size: 1.4em;
    font-family: 'Allan',cursive;
}