body,p,h2{
    margin:0px;
    padding:0px;
    font-family: 'Muli', sans-serif;
}

*{
    box-sizing: border-box;
   
}
 
#navbar{
    display: flex;
    align-items: center;
    position:fixed;
    height:60px;
    background-color:white;
    width:100%;
    top:0px;
    box-shadow:0px 0px 13px 0px rgba(0,0,0,0.3);
    z-index: 999;
    justify-content: space-between;
}

#logo{
    position: relative;
    display: flex;
    color: black;
    width: 120px;
    height: 100%;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    color: #F15454;
    font-size: 2em;
    font-family: 'Pacifico', cursive;
    letter-spacing: 4px;
}

#menu{
    display: flex;
    padding: 18px;
    width: 65px;
    height: 100%;
    justify-content: space-between;
    flex-direction: column;
}

.bar{
    width: 100%;
    background-color: #F15454;
    height: 2px;
}

#cover{
    position: relative;
    display: flex;
    
    margin-top:60px;
    width:100%;
    height:800px;
    
    background: url("images/cover.jpg");
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    
    justify-content: center;
    flex-direction: column;
    
}


#caption{
    
    width: 8em;
    
    margin-left: 30px;
    margin-top: 130px;
    
    font-style: normal;
    font-weight: normal;
    font-family: 'Allan', cursive;
    line-height: 100%;
    font-size: 1.5em;
letter-spacing: 0.05em;
/*    letter-spacing: 0.05em;*/
    color: #323232;
    
/*    border:1px solid green;*/
}

#heading {
    
/*    border:1px solid green;*/
    
    margin-left: 30px;
    margin-top: 10px;

    font-family: 'Bebas Neue', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 5.5em;
    line-height: 100%;

/*    letter-spacing: 0.05em;*/
    color: #F15454;
}



#triSec{
    
    position: absolute;
/*    background-color: #323232;*/
    background: linear-gradient(to bottom right,transparent 50%,#323232 50%);
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 30px;
    bottom: 0px;
    
}

#proPic{
    
    width:100px;
    height: 100px;
    box-shadow: 8px 8px 2px 0px rgba(0,0,0,0.4);
}


#extra{
    display: flex;
    justify-content: flex-end;
    height: 250px;
    width: 100%;
    background-color: #323232;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 50px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

#shortInfo {
    flex-direction: column;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    height: 4em;
}

#shortInfo p{
    color:#fff;
    font-style: normal;
font-weight: normal;
font-size: 1.5em;
    font-family: 'Allan', cursive;
    letter-spacing: 0.05em;
}


#name{
    color:#F15454; 
}


#work{
    width: 150px;
    height: 40px;
    background-color: transparent;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#work p{
    color:#fff;
    font-size: 1.5em;
    font-family: 'Allan', cursive;
    letter-spacing: 0.05em;
}

#arrow{
    position: absolute;
    right: 10px;
    width: 20px;
    height: 100%;
    border: 1px solid green;
}

#arrow img{
    width: 100%;
    height: 100%;
}

