/*Global*/
:root{
    --pcolor:hsl(249, 80%, 55%);
    --pcolordark:hsl(249, 75%, 40%);
    --scolor:hsl(151, 100%, 49%);
}

*{
box-sizing: border-box;
}

body,p,h1,h2,h3,h4,h5,h6{
    padding: 0px;
    margin: 0px;
    font-family: 'Cabin', sans-serif;
} 
 
body{
    height: 100%;
}

button:focus{
    outline: 0px;
}
