body{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--pcolor);
}


.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    
}
#priNavbar {
    display: flex;
    height: 70px;
    background-color: var(--pcolor);
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    padding: 0px 0px 0px 20px;
}
#secNavbar{
    height: 50px;
    background: var(--pcolordark);
    padding: 0px 20px;
}

#priNavbar #logo{
    font-size: 35px;
    font-family: 'Sniglet',cursive; 
    color: #fff;
}
#priNavbar #menuButton{
    height: 100%;
    width: 70px;
    background-color: transparent;
    border: 0px;
    padding: 0px;
    cursor: pointer; 
    transition: 400ms all;
}
#priNavbar #menuButton:hover{
    background-color:hsl(249, 100%, 66%);
}

#secNavbar #date{
   font-family: 'cabin',sans-serif;
    font-size: 1em;
    color:#fff;
}
#secNavbar #toggleView{
    height: 16px;
    width: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#toggleView button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16px;
    width: 14px;
    border: 0px;
    background-color: transparent;
    padding: 0px;
    cursor: pointer;
}
#toggleView #panelsView{
     
}
#toggleView #cardsView{
    
}


#screen{
    position: relative;
    display: grid;
    min-height: 500px;
    width: 100%;
    grid-template-columns: 40% 40%;
    grid-template-rows:200px 200px;

    place-items:center;
    place-content:space-evenly;
    
    background-color:  var(--pcolor);
/*        background-color: #fff;*/

}
.memo{
    position: relative;
    display: flex;
    width: 100%;
    height: 200px;
    background-color: #fff;
    border-radius:5px;
    border:0px ;
    flex-direction: column;
    text-decoration: none;
    padding: 10px;
    color: #000;
    cursor: pointer;
    box-shadow:0px 0px 5px hsla(230, 19%, 23%,0.3); 
    transition: 400ms all;
    background-color:#fff;
    
    
}

.memo:hover{
    transform: scale(1.03);
    box-shadow: 0px 0px 7px hsla(230, 19%, 23%,0.1)
}
.memo .titleBar{
    height: 2.4em;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
.memo .titleBar .title{
    font-size: 1.2em;
    font-family: 'Sniglet',cursive; 
}
.memo .content{
    display: flex;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    justify-content: center;
    align-items: flex-start;
    font-size: 0.9em;
    font-family: 'cabin',sans-serif;
    letter-spacing: 0.5px;
}

#screen #newMemo{
    position: fixed;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 70px;
    right: 50px;
    border-radius: 50%;
    background: var(--scolor);
    border: 0px;
    box-shadow: 0px 0px 50px 0px rgba(61,66,92,0.2); 
    cursor: pointer;
    z-index: 999;
}
#screen #newMemo:hover{
    transform: scale(1.05);
}

/*Javascript*/



@media all and (min-width: 600px){

}
/*Desktop*/
@media all and (min-width: 900px) {
    body {
    }
}