body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    background-color: #fff;
}
 
body,p,h1,h2,h3,h4,h5,h6{
font-family: 'Cabin', sans-serif;
}
/*
#cover{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(0deg, var(--pcolor), rgba(0,0,0,0)), url("../resources/images/signup.jpg");
    background-size: cover;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    z-index: 0;
}
*/


#navbar{
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: flex-start;
    background-color: transparent;
    align-items: center;
    z-index: 999;
    width: 100%;
}
#logo{
/*    background-color: red;*/
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    z-index: 1;
    margin-left: 30px;
    color: var(--pcolor);
    width: 175px;
    font-size: 35px;
    font-family: 'Sniglet',cursive; 
    margin-left: 20px;
}

#screen{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#cover_image{
    display: flex;
    align-items: center;
    height: 240px;
    width: 240px;
    background-color: #fff;
}

#f_container{
    position: relative;
    display: flex;
    background-color: #fff;
    width: 300px;
    max-width: 300px;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#heading{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 2.6em;
    font-size: 1.3em;
    color: var(--pcolor);
    
}


.row{
    position: relative;
    display: flex;
    align-items: c;
    flex-direction: column;
    justify-content: center;
    width: 100%;
/*    background-color: grey;*/
    margin-bottom: 1em;
}


.f_textbox{
    position: relative;
    width: 100%;
    height: 2.5em;
    font-size: 0.9em;
    padding: 0px 0.4em;
    border: 1px solid var(--pcolor);
    border-radius: 2px;
    background-color: #fff;
    
}

.f_textbox:focus{
    background-color: #fff;
}

form label{
    position: absolute;
    top:0px;
    font-size: 0.9em;
    padding: 0px 0.4em;
    background-color: transparent;
    align-items: center;
    display: flex;
    
    margin-top: 0em;
    margin-left: 0em;
    height: 100%;
    z-index: 2;
    transition: all 300ms ease;
}
.focused{
    font-size: 0.7em;
    margin-left: 0.7em;
    margin-top: -0.7em;
    background-color: #fff;
    height: 1.4em;
    color:var(--pcolor);
    letter-spacing: 0.05em;
    padding: 0px 0.5em;
/*    text-transform: uppercase;*/
}
.f_textbox:focus{
    outline: 0px;
    border: 1px solid var(--pcolor);
}

#buttonCont{
    display: flex;
    height: 2.5em;
    width: 100%;
    margin-top: 0.5em;
    justify-content: center;
    align-items: center;
}
#buttonCont input{
    display: flex;
    border: 0px;
    height: 2.5em;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--scolor);
    color: #fff;
    font-size: 0.9em;
    letter-spacing: 1px;
    border-radius: 2px;
    
}

#buttonCont input:hover{
   background-color:  hsl(151, 57%, 47%);
}

#foot_text{
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    color: #404040;
    font-size: 1em;
    
}

#foot_text a{
    
    color: #000;
    margin-left: 0.41em;
    font-weight: bold;
    text-decoration: none;
}

@media all and (min-width: 600px){

}
/*Desktop*/
@media all and (min-width: 900px) {
    body {
    }
}