#memoNavbar{
    height: 70px;
    width: 100%;
    position: fixed;
    background: var(--pcolor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    z-index: 999;
    padding: 0px;
}
#memoNavbar .back{
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 70px;
    cursor: pointer;
}
#memoNavbar .back:hover{
   background-color:hsl(249, 100%, 66%);
}
#memoNavbar .menuButton{
    height: 100%;
    width: 70px;
    background-color: transparent;
    border: 0px;
    padding: 0px;
    cursor: pointer;  
}
#memoNavbar .menuButton:hover{
background-color:hsl(249, 100%, 66%);
}
#screen-Memo1{
    padding: 70px 20px 20px 20px; 
    display: flex;
    flex-direction: column;
    min-height: 500px;
    height: 100vh;
    width: 100%;
    background-color: #fff; 
}
#titleBar-Memo1{
    height: 50px;
    display: flex;
    align-items: center;
    
}
#title-Memo1{
    font-size: 1.5em;
    font-weight: 400;
}
#content-Memo1{
    display: flex;
    flex: 1;
    justify-content: flex-start;
}




@media all and (min-width: 600px){

}
/*Desktop*/
@media all and (min-width: 900px) {
    body {
    }
}