body{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--pcolor);
    padding: 0px 30px 30px;
    font-family: 'Cabin',cursive;
    align-items: center;
    background: url(../resources/images/signup.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    
}

#logo{
    height: 200px;
/*    background-color: red;*/
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo p{
    font-size: 3em;
    font-family: 'sniglet',cursive;
    color: #fff;
}
/*Javascript*/

.f_container{
    position: relative;
    display: flex;
    height: 100%;
    background-color: #fff;
    min-width: 300px;
    max-width: 300px;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 60px 0px hsla(0, 0%, 0%,0.3);
    border-radius: 3px;
}

#heading{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 4em;
}
#heading p{
    font-size: 1.1em;
    color: #000;
    }


.row{
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    width: 100%;
/*    background-color: grey;*/
    margin-bottom: 1.5em;
}
.row p{
    font-size: 1em;
    color: #000;
    margin-bottom: 0.3em;
}

.f_textbox{
    position: relative;
    width: 100%;
    height: 2em;
    font-size: 0.9em;
    padding: 0px 0.4em;
    border: 1px solid #d1d1d1;
    border-radius: 2px;
}


form label{
    position: absolute;
    top:0px;
    font-size: 0.9em;
    padding: 0px 0.4em;
    background-color: transparent;
    
    align-items: center;
    display: flex;
    margin-top: 0em;
    margin-left: 0em;
    height: 100%;
    z-index: 2;
    transition: all 300ms ease;
}
.focused{
    font-size: 0.7em;
    margin-left: 0.7em;
    margin-top: -0.7em;
    background-color: #fff;
    height: 1.4em;
    color:var(--pcolor);
    letter-spacing: 0.05em;
    padding: 0px 0.5em;
/*    text-transform: uppercase;*/
}
.f_textbox:focus{
    outline: 0px;
    border: 1px solid var(--pcolor);
}

 
#extraRow{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    height: 2em;
    font-size: 0.9em;
}
#extraRow p{
    margin-left: 5px;
}

#buttonCont{
    display: flex;
    height: 3em;
    width: 100%;
    margin-top: 0.5em;
    justify-content: center;
    align-items: center;
}
#buttonCont input{
    display: flex;
    border: 0px;
    height: 3em;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--scolor);
    color: #fff;
    font-size: 1em;
    letter-spacing: 1px;
    border-radius: 3px;
}

#buttonCont input:hover{
   background-color:  hsl(151, 57%, 47%);
}



@media all and (min-width: 600px){

}
/*Desktop*/
@media all and (min-width: 900px) {
    body {
    }
}