/*Global*/


/*
color1: hsl(230, 20%, 30%) 
color2: hsl(230, 19%, 23%)
color3: hsl(151, 100%, 49%)
color3: #43E798
*/

*{
box-sizing: border-box;
}

body,p,h1,h2,h3,h4,h5,h6{
    padding: 0px;
    margin: 0px;
} 
button:focus{
    outline: 0px;
}
body{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: "Montserrat",sans-serif;
    background-color: hsl(230, 20%, 30%);
}

#screen{
    position: relative;
    display: grid;
    min-height: 500px;
    width: 100%;
    grid-template-columns: 40% 40%;
    grid-template-rows:250px 250px;

    place-items:center;
    place-content:space-evenly;
    
    background-color:  hsl(230, 20%, 30%)
}

.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    
}
#priNavbar {
    display: flex;
    height: 70px;
    background-color: hsl(230, 20%, 30%);
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    padding: 0px 0px 0px 20px;
}
#secNavbar{
    height: 50px;
    background: hsl(230, 19%, 23%);
    padding: 0px 20px;
}

#priNavbar #logo{
    font-weight: 400;
    font-size: 2em;
    letter-spacing: 0.1em;
    color: #fff;
}
#priNavbar #menuButton{
    height: 100%;
    width: 70px;
    background-color: transparent;
    border: 0px;
    padding: 0px;
    cursor: pointer; 
    transition: 400ms all;
}
#priNavbar #menuButton:hover{
    background-color:hsl(230, 19%, 39%);
}

#secNavbar #date{
   font-weight: 300;
    font-size: 0.9em;
    color:#fff;
}
#secNavbar #toggleView{
    height: 16px;
    width: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#toggleView button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16px;
    width: 14px;
    border: 0px;
    background-color: transparent;
    padding: 0px;
    cursor: pointer;
}
#toggleView #panelsView{
     
}
#toggleView #cardsView{
    
}

.memo{
    position: relative;
    display: flex;
    width: 100%;
    height: 200px;
    background-color: #fff;
    border-radius:8px;
    border:0px ;
    flex-direction: column;
    text-decoration: none;
    padding: 10px;
    color: #000;
    cursor: pointer;
    box-shadow:0px 0px 5px hsla(230, 19%, 23%,0.3); 
    transition: 400ms all;
}
.memo:hover{
    transform: scale(1.03);
    box-shadow: 0px 0px 7px hsla(230, 19%, 23%,0.1)
}
.memo .titleBar{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1em;
/*    background-color: aqua;*/
}
.memo .titleBar .title{
    font-weight: 400;
}
.memo .content{
    font-weight: 300;
    display: flex;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    justify-content: center;
    align-items: flex-start;
    font-size: 0.85em;
/*    line-height: 1em;*/
}
/*
.expand{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: red;
}
*/

#screen #newMemo{
    position: fixed;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 80px;
    right: 50px;
    border-radius: 50%;
    background: hsl(151, 100%, 49%);
    border: 0px;
    box-shadow: 0px 0px 50px 0px rgba(61,66,92,0.2); 
    cursor: pointer;
    z-index: 999;
}



/*Open Memo CSS*/

#memoNavbar{
    height: 70px;
    position: fixed;
    background: hsl(230, 20%, 30%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    z-index: 999;
    padding: 0px;
}
#memoNavbar .back{
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 70px;
    cursor: pointer;
}
#memoNavbar .back:hover{
   background-color:hsl(230, 19%, 39%); 
}

#memoNavbar .menuButton{
    height: 100%;
    width: 70px;
    background-color: transparent;
    border: 0px;
    padding: 0px;
    cursor: pointer;  
}

#memoNavbar .menuButton:hover{
background-color:hsl(230, 19%, 39%);
}

#screen-Memo1{
    padding: 70px 20px 20px 20px; 
    display: flex;
    flex-direction: column;
    min-height: 500px;
    height: 100vh;
    background-color: #fff; 
}

#titleBar-Memo1{
    height: 50px;
    display: flex;
    align-items: center;
    
}
#title-Memo1{
    font-size: 1.5em;
    font-weight: 400;
}
#content-Memo1{
    display: flex;
    flex: 1;
    justify-content: flex-start;
}



/*Javascript*/

.show{
    opacity: 1;
    transition: 400ms all;
    display: flex;
}
.hide{
    opacity: 0;
    transition: 400ms all;
    display: none;
}



@media all and (min-width: 600px){

}
/*Desktop*/
@media all and (min-width: 900px) {
    body {
    }
}