*{
box-sizing: border-box;
}

/*Global*/

body{
    cursor: default;
    font-family: "poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
body,p{
    padding: 0px;
    margin: 0px;
}

#helpButton{
    display: flex;
    height: 50px;
    width: 100px;
    justify-content: center;
    align-items: center;
    border: 0px;
    border-radius: 25px;
    background-color: hsl(150deg,90%,30%);
    box-shadow: 0px 0px 60px 0px hsla(150deg,50%,50%,0.4);
    color: #fff;
    font-size: 1em;
}
#helpButton:focus{
    outline: 0px;
}
#helpButton:hover{
    background-color:hsl(150deg,80%,45%) ;;
}
#helpButton:active{
    transform: scale(0.95);
}



/*Chat UI*/





#mainframe{
    display: none;
    flex-direction: column;
    width: 350px;
    height:195px;
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.3);
     animation: expand 1s forwards ease;
    animation-delay: 300ms;
    background:linear-gradient(hsl(150deg,85%,50%),hsl(150deg,75%,35%));
}

@keyframes expand{
    100%{
        height: 600px;
    }
}

#header{
    position: relative;
    display: flex;
    height: 115px;
    width: 100%;
    background-color: hsl(150deg,85%,50%);
    justify-content: space-between;
    padding: 15px;
    flex-direction: column;
}

#close{
    border: 0px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display:flex;
    position: absolute;
    right: -17px;
    top:-17px;
    background-color: #fff;
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.2);
    padding:8px;
    transform: rotate(45deg) scale(0.5);
    animation: rotating 1s ease forwards;
}

#close:focus{
    outline: 0px;
}


@keyframes rotating{
    100%{
        transform: rotate(225deg) scale(1.1);
    }
}

#helloUserCont{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    background:linear-gradient(-90deg,hsl(150deg,85%,50%),hsl(150deg,75%,45%));
}
#helloUserCont P{
font-family: Poppins,sans-serif;
font-style: normal;
font-weight: bold;
font-size: 1.5em;
letter-spacing: 0.05em;
color: #FFFFFF;
}

#extraText{
    width: 100%
}
#extraText p{
    font-family: Poppins;
    font-size: 0.9em;
    color: #323232;
}

#content{
    position: relative;
    display: flex;
    flex: 1;
    width: 100%;
    border-radius: 20px 20px 0px 0px; 
    background-color: hsl(150deg,90%,30%);
    
}


.dialogBoxBot{
    max-width: 150px;
    min-width: 1em;
    min-height: 1em;
    background-color: crimson;
    right:0px;
    position: absolute;
    margin: 0px 20px 0px 0px;
    color: #fff;
    font-size: 1em;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 10px;
/*    overflow: hidden;*/
    border-radius: 10px 10px 0px 10px;
}
.dialogBoxBot::before{
    content: "";
    position: absolute;
    right: -8px;
    bottom: 0px;
    width: 0;
    height: 0;
    border-top:4px solid transparent;
    border-right:4px solid transparent;
    border-bottom:4px solid crimson;
    border-left:4px solid crimson;
}

.dialogBoxUser{
    max-width: 150px;
    min-width: 1em;
    min-height: 1em;
    background-color: #ffffff;
    top:70px;
   left:0px;
    position: absolute;
    margin: 0px 0px 0px 20px;
    color: #000;
    font-size: 1em;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 10px;
/*    overflow: hidden;*/
    border-radius: 10px 10px 10px 0px;
}
.dialogBoxUser::before{
    content: "";
    position: absolute;
    left: -8px;
    bottom: 0px;
    width: 0;
    height: 0;
    border-top:4px solid transparent;
    border-right:4px solid #fff;
    border-bottom:4px solid #fff;
    border-left:4px solid transparent;
}

#footer{
    display: flex;
    position: relative;
    height: 80px;
    width: 100%;
    padding: 15px ;
    background-color:hsl(150deg,80%,45%) ;
}

#textboxCont{
    display: flex;
    height: 100%;
    flex: 1;
/*    background: red;*/
    padding: 0px 15px 0px 0px;
}

#textboxCont input{
    width: 100%;
    font-size: 0.9em;
    border:0px;
    border-radius: 25px;
    padding: 0px 20px;
}
#textboxCont input:focus{
    outline: 0px;
}

#sendButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 100%;
    border:0px;
    background-color: hsl(315deg,75%,50%);
    border-radius: 50%;
    padding: 12px 5px 12px 12px; 
}
#sendButton button:hover{
    background-color: #009699;
    border:0px;
    border-radius: 50%;
    width: 100%;
    padding: 10px 6px 10px 10px; 
}
#sendButton button:focus{
    outline: 0px;
}










