*{
box-sizing: border-box;
}
 
/*Global*/

body{
    
    font-family: "poppins", sans-serif;
}

body,p,h1,h2,h3,h4,h5,h6{
    padding: 0px;
    margin: 0px;
/*    color: #fff;*/
}

#fullscreen{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #101010;
}

#circles{
    position: absolute;
/*    background-color: aqua;*/
    height: 300px;
    width: 300px;
    display: grid;
    place-content:space-between;
    place-items:space-evenly;
    grid-template-columns: 120px 120px;
    grid-template-rows: 120px 120px;
    animation: circles 5400ms linear infinite;
}

.circle{
    height: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF035E;
    border-radius: 50%;
    opacity: 1;
}

.inncircle{
    position: absolute;
    height: 120px;
    width: 120px;
    z-index: -1;
    background-color: #6a0027  ;
/*    background-color: #000 ;*/
  
animation: inncircle 1800ms linear infinite ;
/*    animation-delay: 450ms;*/
}
.inncircleB {
    position: absolute;
    height: 120px;
    width: 120px;
    z-index: -2;
    background-color: #fff;
    box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.1);
    animation: inncircleB 3600ms linear infinite;
    /*    animation-delay: 900ms;*/
}

#inncircle1{
    border-radius: 50% 50% 10px 50%;
}
#inncircle2{
    border-radius: 50% 50% 50% 10px ;
}
#inncircle3{
    border-radius:  50% 10px 50% 50%;
}
#inncircle4{
    border-radius:10px 50%  50% 50%;
}

#inncircleB1{
    border-radius: 50% 50% 10px 50%;
}
#inncircleB2{
    border-radius: 50% 50% 50% 10px ;
}
#inncircleB3{
    border-radius:  50% 10px 50% 50%;
}
#inncircleB4{
    border-radius:10px 50%  50% 50%;
}

#circle1{
    border-radius: 50% 50% 10px 50% ;
}
#circle2{
    border-radius: 50% 50% 50% 10px ;
}
#circle3{
    border-radius: 50% 10px 50% 50% ;
}
#circle4{
    border-radius: 10px 50% 50% 50% ;
}













#centerBox{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #FF035E;
    animation: centerBox 5400ms linear infinite;
    border-radius: 50%;
}

@keyframes centerBox{
    100%{
        transform: rotate(360deg);
    }
}

@keyframes circles{
    100%{
        transform: rotate(-360deg) ;

    }
}

@keyframes inncircle{
    100%{
        
        transform: rotate(360deg);
    }
}
@keyframes inncircleB{
    100%{
        
        transform: rotate(360deg);
    }
}






