*{
box-sizing: border-box;
}

/*Global*/

body{
    
    font-family: "poppins", sans-serif;
} 
 
body,p,h1,h2,h3,h4,h5,h6{
    padding: 0px;
    margin: 0px;
/*    color: #fff;*/
}

body{
    padding: 30px;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.block{
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: all 300ms;
    min-width: 100px;
    height: 100px;
}

html{
    font-size: 1em;
}
div{
    border: 1px solid crimson;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

#outer{
    font-size: 2em;   
}

#middle{
    font-size: 2em;
}

#inner{
    font-size: 0.5em;
}


/*Phones*/
@media only screen and (min-width:576px){
    #block1{
    }
}









